/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Baloo Bhaijaan', cursive; */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
  left: 10px;
  color: white;
}
h3 {
  position: relative;
  color: white;
  font-family: 'Baloo Bhaijaan', sans-serif;
  font-size: 45px;
}
@keyframes change {
 from {left: -500px;}
 to {left:15px;}
 }
 @keyframes blur {
   0% {-webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -o-filter: blur(0px);
   -ms-filter: blur(0px);
   filter: blur(0px);}
   50% {-webkit-filter: blur(2px);
   -moz-filter: blur(2px);
   -o-filter: blur(2px);
   -ms-filter: blur(2px);
   filter: blur(2px);}
   100% {-webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);}
 }
 button:hover {
   color: blue;
   animation-name: fade;
   animation-duration: 1s;
 }
h2 {
  font-family: 'Baloo Bhaijaan', cursive;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  left: 15px;
  bottom: 20px;
  color: white;
  animation-name: change;
  animation-duration: 3s;
}
a.redirect {
  position: relative;
  font-family: 'Roboto', sans-serif;
  left: 15px;
  color: white;
}
a.redirect:hover {
  color: blue;
  animation-name: fade;
  animation-duration: 1s;
}
div.page-bg {
  background: url("https://images.alphacoders.com/306/thumb-1920-306133.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: blur;
  animation-duration: 3s;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
a {
  text-decoration: none;
}
@keyframes fade {
  from {color: white;}
  to {color: blue;}
}
@keyframes fadeout {
  from {color: blue;}
  to {color: white;}
}
button.finish {
  position: relative;
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: none;
  font-size: 18px;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
div.govquiz {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: white;
  top: 70px;
  left: 15px;
}
p.gov1a {
  position: relative;
}
p.gov2a {
}
p.gov3a {
}
