<!DOCTYPE html>
<html>
  <center>
  <head>
    <title>Quizzle - Quiz </title>
    <link rel="stylesheet" href="static/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Open+Sans:300,400|Roboto:300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/myscript.js"></script>
  </head>
  <body>
    <div class="page-bg"></div>
    <a href="layout.html"><h1 class="animated fadeInLeft">Quizzle</h1></a>
    <h2>why use quizlet when you can use a beta of nothing?</h2>

    <h3>{{ yourScore }}</h3>
    <a class="redirect" href="https://quizlet.com"><strong>Take real quizzes here</strong></a>
    <button id="q1" class="q1"><strong>American Government Quiz</strong></button>
    <!--Page Content/Question-->
    <form action={{ url_for("checkScore") }} method = "POST" >
     <div id="govquiz" class="govquiz">
     <p id="gov1" class="gov1">1) How many U.S. presidents have there been?</p>
     <input type="radio" id="q1a1"
     name="q1" value="no">
    <label for="q1a1">44</label>
     <input type="radio" id="q1a2"
     name="q1" value="yes">
    <label for="q1a2">45</label>
       <input type="radio" id="q1a3"
     name="q1" value="no">
    <label for="q1a3">46</label>
     <input type="radio" id="q1a4"
     name="q1" value="no">
    <label for="q1a4">47</label>
     <p id="gov1a" class="gov1a" hidden="true" >45</p>

     <p id="gov2" class="gov2">2)What type of government is the United States?</p>
       <input type="radio" id="q2a1"
     name="q2" value="yes">
    <label for="q1a1">Capitalist Government</label>
     <input type="radio" id="q2a2"
     name="q2" value="no">
    <label for="q1a2">Dictatorship</label>
       <input type="radio" id="q2a3"
     name="q2" value="no">
    <label for="q1a3">totalitarian Government</label>
     <input type="radio" id="q2a4"
     name="q2" value="no">
    <label for="q1a4">Federal Government </label>
     <p id="gov2a" class="gov2a" hidden="true">Federal Government </p>

     <p id="gov3" class="gov3">3)What year was the United States founded?</p>
     <input type="radio" id="q3a1"
     name="q3" value="no">
    <label for="q1a1">1801</label>
     <input type="radio" id="q3a2"
     name="q3" value="no">
    <label for="q1a2">1776</label>
       <input type="radio" id="q3a3"
     name="q3" value="yes">
    <label for="q1a3">1786</label>
     <input type="radio" id="q3a4"
     name="q3" value="no">
    <label for="q1a4">None of the Above </label>
     <p id="gov3a" class="gov3a" hidden="true">1776</p>
       </form>
     <button id="finish" href="/checkScore" class="finish">Finish Quiz</button>
</div>
  </body>
    </center>
</html>
