 {% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block question %}
  <h1>Page 1: Gov or what??</h1>

 <form action={{ url_for("renderPage2") }}  method = "POST">
     <p id="gov2" class="gov2">2)What type of government is the United States?</p>
      <button id="q2a" class="q2a">Show Answer</button>
      <p id="gov2a" class="gov2a">Federal Government - power split between central and local governments.</p>
      <button id="next2" class="next2">Next Question</button>
 </form> 


{% endblock %}
      </body>

</html>
