      {% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block question %}
  <h1>Page 1: Gov or what??</h1>

 <form action={{ url_for("renderPage2") }}  method = "POST">
      <p id="gov1" class="gov1">1) How many U.S. presidents have there been?</p>
      <button id="q1a" class="q1a">Show Answer</button>
      <p id="gov1a" class="gov1a">45</p>
      <button id="next1" class="next1">Next Question</button>
 </form> 


{% endblock %}
{% block score %}
<p name = "currrentScore">0</p>
{% endblock %}
</html>
